:host {
	width: 100%;
	height: 100%;

	--button-wrapper-size: 4rem;
}

.panels-wrapper {
	width: 100%;
	height: calc(100% - var(--button-wrapper-size));

	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

input[type='file'] {
	display: none;
}

.panel {
	position: relative;

	--padding: 2rem;

	width: calc((100% - (var(--padding) * 3)) / 2);
	height: 400px;

	background-color: var(--color-primary2);

	border-radius: 1rem;

	border: 1px solid rgba(0,0,0,0.2);
	box-shadow: var(--shadow-component1);

	text-align: center;

	padding: var(--padding);
	box-sizing: border-box;
}

.panel-buttons {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.panel-icon {
	font-size: var(--fs-huge);
	color: var(--color-text-normal2);
}

.panel-title {
	font-size: var(--fs-xxxl);
	line-height: 1em;
	font-weight: 600;
	padding-bottom: 1em;
	box-sizing: border-box;
}

.panel-description {
	color: var(--color-text-normal2);
	line-height: 1.5em;
}

#left-panel {
	display: flex;
	align-items: center;
	justify-content: center;
}

#left-panel > .panel-information {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#left-panel .panel-title {
	padding-top: 0.5em;
}

#left-panel > .panel-buttons {
	position: absolute;

	width: 100%;

	bottom: var(--padding);
}

#right-panel .panel-title {
	padding-bottom: 0.5em;
}

.panels-wrapper.inside-wrapper {
	flex: 1 1 auto;

	flex-direction: column;
}

#right-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.inside-wrapper .panel {
	--padding: 0.5rem;

	width: 300px;
	max-width: 100%;
	height: auto;

	background-color: var(--color-component-basic1);
	border: none;
}

.panel.inner-panel {
	cursor: pointer;
}

.panel.inner-panel.selected {
	background-color: var(--color-primary2-hover);
}

button.with-icon {
	border-color: var(--color-primary1);
	background-color: var(--color-primary1);

	color: var(--color-background-normal1);
}

.button-wrapper {
	height: var(--button-wrapper-size);
	width: 100%;

	padding: 1rem 0;
	box-sizing: border-box;

	display: flex;
	align-self: center;
	justify-content: center;
}
