<div class="panels-wrapper">

	<div class="panel" id="left-panel">

		<input type="file" #basicResults (change)="uploadResults($event, true)">

		<input type="file" #geneticResults (change)="uploadResults($event, false)">

		<div class="panel-information">

			<div class="panel-icon">
				<i class="icon-upload"></i>
			</div>

			<div class="panel-title">
				Upload Your Datasets
			</div>

			<div class="panel-description">
				<div class="panel-description-row">
					Upload below the relevant files.
				</div>

				<div class="panel-description-row">
					You can only upload TXT files.
				</div>
			</div>

		</div>

		<div class="panel-buttons">

			<button class="rounded"
					[class.with-icon]="basicResultsUploaded$ | async"
					(click)="clickOnBasicResults($event)">
				<i class="button-icon icon-tick-dark"></i>
				<span>Basic Results</span>
			</button>

			<button class="rounded" [class.with-icon]="geneticResultsUploaded$ | async" (click)="clickOnGeneticResults($event)">
				<i class="button-icon icon-tick-dark"></i>
				<span>Genetic Results</span>
			</button>

		</div>

	</div>

	<div class="panel" id="right-panel">

		<div class="panel-information">

			<div class="panel-title">
				Existing Datasets
			</div>

			<div class="panel-description">
				<div class="panel-description-row">
					Chose below from the existing datasets.
				</div>
			</div>

		</div>

		<div class="panels-wrapper inside-wrapper">

			<div class="panel inner-panel"
				 [class.selected]="(sampleCardsSelected$ | async)"
				 (click)="selectSampleCards()">

				<app-upload-card *ngFor="let sample of (sampleCards$ | async)" [card]="sample">
				</app-upload-card>

			</div>

			<div class="panel inner-panel" *ngIf="somethingUploaded()"
				 [class.selected]="(uploadedCardsSelected$ | async)"
				 (click)="selectUploadedCards()">

				<app-upload-card *ngFor="let uploaded of (uploadedCards$ | async)" [card]="uploaded"></app-upload-card>

			</div>

		</div>

	</div>

</div>

<div class="button-wrapper">

	<button class="filled" *ngIf="canContinue()">NEXT</button>

</div>
