:root {
	--fs-s: 10px;
	--fs-m: 14px;
	--fs-l: 18px;
	--fs-xl: 20px;
	--fs-xxl: 22px;
	--fs-xxxl: 24px;
	--fs-header: 32px;
	--fs-huge: 64px;

	font-size: var(--fs-m);
	line-height: 1em;
	font-weight: 300;

	font-family: 'Roboto', sans-serif;
}
