header {
	position: relative;

	font-size: var(--fs-header);

	padding: 1em 3em;
	box-sizing: border-box;

	height: var(--header-height);
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	text-align: center;
}

header > .title {
	padding-bottom: 0.5em;
	box-sizing: border-box;
	line-height: var(--fs-header);

	font-weight: 800;
}

header > .description {
	font-size: var(--fs-m);
	color: var(--color-text-normal2);
}

header > .description > .row {
	padding-bottom: 0.5em;
	box-sizing: border-box;
}
