
:host {
	position: relative;
	width: 100%;
	height: 100%;

	overflow: hidden;
}

.canvas {
	position: relative;

	background-color: var(--color-background-normal1);

	width: 100%;
	height: calc(100vh - var(--header-height) - var(--footer-height));
}
