@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?krh0sf');
  src:  url('fonts/icomoon.eot?krh0sf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?krh0sf') format('truetype'),
    url('fonts/icomoon.woff?krh0sf') format('woff'),
    url('fonts/icomoon.svg?krh0sf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e94a";
}
.icon-chevron:before {
  content: "\e90a";
}
.icon-cross-circle:before {
  content: "\e90d";
}
.icon-reach:before {
  content: "\e91c";
}
.icon-tick-dark:before {
  content: "\e931";
}
.icon-upload:before {
  content: "\e933";
}
