
:host {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.navigator {
	padding: 0.5em;
}

.navigator > a {
	text-decoration: none;
}
