<div class="uploaded-card">

	<div class="card-content">

		<div class="card-icon">
			<img [src]="getIcon()">
		</div>

		<div class="card-text">

			<div class="card-title">
				{{card.title}}
			</div>

			<div class="card-description">
				{{getTitle()}}
			</div>

		</div>

		<div class="card-date">
			{{getDate()}}
		</div>

	</div>

	<div class="card-separator"></div>


</div>
