:host {
	--card-height: 4rem;
	--card-separator-height: 1px;
	--card-padding: 1rem;
	--card-content-height: calc(var(--card-height) - (var(--card-padding) * 2));
}

:host:last-child {
	--card-separator-height: 0px;
}

.uploaded-card {
	width: 100%;
	height: calc(var(--card-height) + var(--card-separator-height));
}

.card-content {
	width: 100%;
	height: var(--card-height);

	padding: var(--card-padding);
	box-sizing: border-box;

	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.card-icon {
	width: var(--card-content-height);
	height: var(--card-content-height);

	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--color-component-basic2);
}

.card-icon > img {
	width: calc(100% - 10px);
	height: calc(100% - 10px);
}

.card-text {
	flex: 1 1 auto;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;

	padding-left: var(--card-padding);
	box-sizing: border-box;
}

.card-title {
	font-weight: 600;
}

.card-description {
	font-size: var(--fs-s);
	line-height: var(--fs-s);
}

.card-date {
	flex: 0 0 auto;

	padding-left: var(--card-padding);
	box-sizing: border-box;

	font-size: var(--fs-s);
	line-height: var(--fs-s);

	color: var(--color-text-normal2);

	align-self: flex-start;
}

.card-separator {
	width: calc(100% - var(--card-padding));
	height: var(--card-separator-height);
	margin: 0 calc(var(--card-padding) / 2);
	background-color: var(--color-component-basic2);
}
