button {
	color: var(--color-primary1);
	background-color: var(--color-component-basic1);

	--button-padding: 0.5em;

	line-height: 1em;

	margin: 0;
	padding: var(--button-padding);

	box-sizing: border-box;

	border-radius: 0.5rem;

	border: 1px solid currentColor;

	cursor: pointer;
}

button:hover {
	color: var(--color-primary1-hover);
	background-color: var(--color-component-basic1-hover);
}

button.rounded {
	border-radius: 100vh;
}

button.filled {
	color: var(--color-component-basic1);
	background-color: var(--color-primary1);
	border: 1px solid var(--color-primary1);
}
