
button.with-icon {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

button.with-icon > span {
	padding-left: var(--button-padding);
	box-sizing: border-box;
}

button:not(.with-icon) .button-icon {
	display: none;
}
