
<div class="page">

	<header>

		<div class="logo-placer">

			<div class="logo-wrapper">

				<img src="assets/logos/mosquito.png">

			</div>

		</div>

		<div class="title">
			{{title$ | async}}
		</div>

		<div class="description">
			<div class="row" *ngFor="let row of (description$ | async)">
				{{row}}
			</div>
		</div>

	</header>

	<div class="content">
		<router-outlet></router-outlet>
	</div>

	<footer>
		<a href="https://www.myreach.io">Donated by <span class="strong blue-text">REACH <i class="icon-reach"></i></span></a>
	</footer>

</div>
