
:host {
	height: 100vh;
	width: 100vw;

	margin: 0;
}

.page {
	width: 100vw;
	height: 100vh;

	background-color: var(--color-background-normal1);

	display: flex;
	flex-direction: column;

	overflow-y: auto;
}

.page > header {
	flex: 0 0 auto;
}

.page > .content {
	flex: 1 1 auto;
}

.logo-placer {
	position: absolute;
	top: calc(var(--fs-header) * 1.5);
	left: calc(var(--fs-header) * 1.5);
	transform: translate(-50%, -50%);
}

.logo-wrapper {
	width: var(--logo-size);
	height: var(--logo-size);

	overflow: hidden;
}

.logo-wrapper > img {
	width: 100%;
	height: 100%;
}

footer > a {
	opacity: 0.75;
}

footer > a:hover {
	opacity: 1;
}

.strong {
	font-weight: 500;
}

.blue-text {
	color: var(--color-primary1)
}
